<app-menu
  (emitCheked)="getValueChecked($event)"
></app-menu>
<div class="container">
  <div class="row justify-content-center mx-0 mt-5" style="gap: 1rem">
    <div class="col-auto text-center" *ngFor="let player of players">
      <p
        class="p-2 rounded"
        [ngClass]="player.selected ? 'bg-primary' : 'inactive'"
      >
        {{ player.name }}
      </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-1 border-top border-start p-5"></div>
    <div class="col-1 border-top border-start p-5"></div>
    <div class="col-1 border-top border-start border-end p-5"></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-1 border-top border-start p-5"></div>
    <div class="col-1 border-top border-start p-5"></div>
    <div class="col-1 border-top border-start border-end p-5"></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-1 border-top border-start border-bottom p-5"></div>
    <div class="col-1 border-top border-start border-bottom p-5"></div>
    <div
      class="col-1 border-top border-start border-bottom border-end p-5"
    ></div>
  </div>
</div>
