.container {
  display: grid;
  align-content: center;
  height: calc(100vh - 35%);
}

.col-1{
  cursor: pointer;
}

.col-1:hover{
  background-color: #00000082;
}

.col-auto{
  min-width: 120px;
}

.cross{
  background: url('/assets/red-x-png-4.png');
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}


.circle{
  background: url('/assets/circle.png');
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.mat-simple-snackbar>span{
  color: black!important;
}

.mat-button-wrapper{
  color: black!important;
}
