<div class="row justify-content-center align-items-center mt-4 mx-0">
  <div class="col-auto" style="font-size: 12px">
    <mat-form-field appearance="fill">
      <mat-label>Dificultad</mat-label>
      <mat-select
        matNativeControl
        [(value)]="selectedDifficulty"
        (valueChange)="change()"
        [disabled]="isChecked"
        matTooltip="Cambiar nivel de dificultad"
      >
        <mat-option
          *ngFor="let difficulty of difficulties"
          [value]="difficulty"
        >
          {{ difficulty.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-auto pb-3" style="font-size: 12px">
    <mat-slide-toggle (click)="toggleCheked()" matTooltip="Juego en modo multijugador">
      <span class="text-white">Multijugador</span>
    </mat-slide-toggle>
  </div>

  <div class="col-auto pb-3" style="font-size: 12px">
    <button mat-icon-button (click)="refresh()">
      <mat-icon class="mat-18 text-primary" matTooltip="Reiniciar juego"
        >refresh</mat-icon
      >
    </button>
  </div>
</div>

<div class="row justify-content-center mx-0" style="gap: 1rem">
  <div class="col-auto">
    <span *ngIf="!isChecked">
      Dificultad de juego: {{ selectedDifficulty.viewValue }}
    </span>
    <span *ngIf="isChecked"> Modo multijugador </span>
  </div>
</div>
